
a:hover {
	text-decoration: none;
}

.navbar-default {
	background-color: transparent;
	border-color: #DDE0FF;
	margin-top: 30px;
}

.navbar {
	border-radius: 30px;
}

.navbar-default
.navbar-nav > li > a {
	color: #999999;
	font-weight: bold;
	transition: color 0.3s;
} 

.navbar-default
.navbar-nav > li > a:hover {
	color: #7AB1F0;
} 

.btn {
	margin-left: 10px;
}

.thumb {
	height: 75px;
	width: 75px;
	border-radius: 10%;
	margin-right: 15px;
	float: left;
}

.list-group-item{
	margin-bottom: 8px;
	border: 1px solid #DDE0FF;
	padding: 15px;
}

/* topic details - user, submitted */
.details {
	opacity:0.6;
	font-size: 13px;
}

.comments {
	font-weight: bold;
}

.user {
	color: red;
	font-weight: bold;
}

.domain {
	font-size: 13px;
	opacity: 0.6;
	padding-left: 10px;
}

.top-comment {
	background-color: rgb(234, 244, 243);
}

.nested-comment {
	margin-left: 50px;
}