
a:hover {
	text-decoration: none;
}

.navbar-default {
	background-color: transparent;
	border-color: #DDE0FF;
	margin-top: 30px;
}

.navbar {
	border-radius: 30px;
}

.navbar-default
.navbar-nav > li > a {
	color: #999999;
	font-weight: bold;
	transition: color 0.3s;
} 

.navbar-default
.navbar-nav > li > a:hover {
	color: #7AB1F0;
} 

.btn {
	margin-left: 10px;
}

.thumb {
	margin-right: 15px;
	margin-bottom: 35px;
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 10%;
}

.list-group {
	margin: 15px 0;
}
.list-group-item{
	margin-bottom: 8px;
	border: 1px solid #DDE0FF;
	padding: 15px;
}

/* topic details - user, submitted */
.details {
	opacity:0.6;
	font-size: 13px;
	margin: 0;
}

.comments {
	font-weight: bold;
}

.user {
	color: red;
	font-weight: bold;
}

.domain {
	font-size: 13px;
	opacity: 0.6;
	padding-left: 10px;
}

.top-comment {
	background-color: rgb(234, 244, 243);
}

.nested-comment {
	margin-left: 50px;
}

.thread-post {
	background-color: rgb(226, 250, 229);
}

.root-comment {
	background-color: white;
	padding: 10px;
}

.selftext-hide {
    opacity: 0; 
    height: 0;
    overflow: hidden;
    transition: opacity 1s;
}

.selftext-show {
    opacity: 1;
    height: auto;
    transition: opacity 1s;
}

.plus {
	padding: 5px;
	color: #bbc1ff;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s color;
}

.plus:hover {
	color: #DDE0FF;
}

.options {
	margin: 10px;
}
